# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

***Objectives:***

- List popular languages for Data Science
- List commonly used libraries for Data Science
- list Development enviroment open source tools
- simple arithmetic expression to mutiply add integers.
- Converting hours to minutes

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. Scala
4. R

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. panda
3. pytorch
4. keras
5. scikit-learn

| Data Science Tools |
| ------------------ |
| Jupiter Notebook |
| Apache Zeppelin |
| R studios |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author
Doris Chisa Uzoma